.css-1vcokmn-MuiCalendarOrClockPicker-root,
.MuiCalendarOrClockPicker-root {
  background-color: #2e2e33 !important;
  color: white;
  text-align: center;
  font-size: 1.25rem !important;
  position: relative !important;
}

.css-u0soqy-MuiPickerStaticWrapper-root,
.MuiPickerStaticWrapper-root {
    padding-bottom: 40px !important;
}

.css-1hbyad5-MuiTypography-root,
.MuiTypography-root {
  color: white !important;
  text-align: center !important;
  font-size: 1.25rem !important;
  font-weight: 600 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  text-transform: none !important;
  margin-bottom: 40px !important;
  display: block !important;
}

.css-1mgnakj-MuiTypography-root-PrivatePickersToolbarText-root,
.css-1lfjyjz-MuiTypography-root-PrivatePickersToolbarText-root-MuiTimePickerToolbar-separator,
.MuiTypography-root-PrivatePickersToolbarText-root,
.MuiTypography-root-PrivatePickersToolbarText-root-MuiTimePickerToolbar-separator {
    color: white !important;
    font-family: OpenSans;
    font-size: 3rem !important;
    font-weight: bold !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.08 !important;
    letter-spacing: normal !important;
    text-align: center !important;
}

.MuiTimePickerToolbar-ampmLabel {
    color: white !important;
    font-family: OpenSans;
    font-size: 1.3rem !important;
    font-weight: bold !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.08 !important;
    letter-spacing: normal !important;
    text-align: center !important;
}

.css-iyrw7v-MuiTypography-root-PrivatePickersToolbarText-root.Mui-selected,
.MuiTypography-root-PrivatePickersToolbarText-root.Mui-selected {
    font-size: 2rem !important;
    color: white !important;
    font-family: OpenSans;
    font-weight: bold !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.08 !important;
    letter-spacing: normal !important;
    text-align: center !important;
}

.css-umzx0k-MuiClock-pin,
.MuiClock-pin
.css-d0vs79-MuiClockPointer-root,
.MuiClockPointer-root   {
    background: white !important;
}

.css-zddqwy-MuiClockNumber-root,
.MuiClockNumber-root
.css-1e6y48t-MuiButtonBase-root-MuiButton-root,
.MuiButtonBase-root-MuiButton-root  {
    color: white !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.MuiInputBase-input-MuiOutlinedInput-input {
    color: white !important;
    border: 1px solid white !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root,
.MuiButtonBase-root-MuiButton-root {
    display: none !important;
}

.MuiTypography-root,
.MuiSvgIcon-root {
    color: white !important;
}

.MuiTypography-h4 {
    font-size: 1.25rem !important;
}

.css-h2z9v1-MuiButtonBase-root-MuiIconButton-root-MuiClock-amButton,
.MuiButtonBase-root-MuiIconButton-root-MuiClock-amButton
.css-zcgqxx-MuiButtonBase-root-MuiIconButton-root-MuiClock-pmButton,
.MuiButtonBase-root-MuiIconButton-root-MuiClock-pmButton {
    position: absolute !important;
    bottom: 10px !important;
}

.MuiFormLabel-root {
    display: none !important;
}
