.css-1vcokmn-MuiCalendarOrClockPicker-root,
.MuiCalendarOrClockPicker-root {
  background-color: #2e2e33;
  color: white;
  text-align: center;
  font-size: 1.25rem !important;
  position: relative !important;
}

.MuiPickerStaticWrapper-root {
    padding-bottom: 40px !important;
}

.MuiTypography-overline {
  color: white !important;
  text-align: center !important;
  font-size: 1.25rem !important;
  font-weight: 600 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  text-transform: none !important;
  margin-bottom: 40px !important;
  display: block !important;
}

.PrivatePickersToolbarText-root,
.MuiTimePickerToolbar-separator {
    color: white !important;
    font-family: OpenSans;
    font-size: 3rem !important;
    font-weight: bold !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.08 !important;
    letter-spacing: normal !important;
    text-align: center !important;
}

.MuiTimePickerToolbar-ampmLabel {
    color: white !important;
    font-family: OpenSans;
    font-size: 1.3rem !important;
    font-weight: bold !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.08 !important;
    letter-spacing: normal !important;
    text-align: center !important;
}

.MuiTypography-root
.PrivatePickersToolbarText-root
.Mui-selected {
    font-size: 2rem !important;
    color: white !important;
    font-family: OpenSans;
    font-weight: bold !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.08 !important;
    letter-spacing: normal !important;
    text-align: center !important;
}

.MuiClock-pin,
.MuiClockPointer-root  {
    background: white !important;
}

.MuiClockNumber-root,
.MuiButtonBase-root
.MuiButton-root  {
    color: white !important;
}

.MuiInputBase-input
.MuiOutlinedInput-input,
.css-1x5jdmq,
.MuiInputBase-formControl {
    color: white !important;
    border: 1px solid white !important;
}

.MuiFormHelperText-filled,
.css-v7esy {
    color: wheat;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root,
.css-1ujsas3 {
    display: none !important;
}

.MuiTypography-root,
.MuiSvgIcon-root,
.MuiClockNumber-root {
    color: white !important;
}

.MuiTypography-h4 {
    font-size: 1.25rem !important;
}

.MuiClock-amButton,
.MuiClock-pmButton {
    position: absolute !important;
    bottom: 10px !important;
}

.MuiFormLabel-root {
    display: none !important;
}

